<div class="comments">
    <script>
        const getTheme = () => {
            return document.body.classList.contains('dark') ? "github-dark" : "github-light";
        };

        let s = document.createElement('script');
        s.src = 'https://utteranc.es/client.js';
        s.setAttribute('repo', 'hvini/blog-comments');
        s.setAttribute('issue-term', 'pathname');
        s.setAttribute('theme', getTheme());
        s.setAttribute('crossorigin', 'anonymous');
        s.async = true;

        document.querySelector('div.comments').appendChild(s);

        const toggleButton = document.getElementById("theme-toggle");
        if (toggleButton) {
            toggleButton.addEventListener("click", () => {
                setTimeout(() => {
                    const theme = getTheme();
                    const iframe = document.querySelector('.utterances-frame');
                    if (iframe) {
                        const message = {
                            type: 'set-theme',
                            theme: theme
                        };
                        iframe.contentWindow.postMessage(message, 'https://utteranc.es');
                    }
                }, 200);
            });
        }
    </script>
</div>